/*-------- 1.5 Heros/Above the fold  --------*/
.hero_single {
  width: 100%;
  position: relative;
  margin: 0;
  color: #fff;
}
.hero_single .opacity-mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_single .opacity-mask h1,
.hero_single .opacity-mask h3 {
  color: #fff;
  line-height: 1;
  font-size: 42px;
  font-size: 2.625rem;
  margin: 0;
  font-weight: 600;
}
@media (max-width: 767px) {
  .hero_single .opacity-mask h1,
  .hero_single .opacity-mask h3 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.hero_single .opacity-mask p {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .hero_single .opacity-mask p {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

.hero_single.version_2 {
  background-color: #000;
  height: 620px;
}
.hero_single.version_2 .opacity-mask {
  text-align: left;
}
@media (max-width: 991px) {
  .hero_single.version_2 .opacity-mask {
    text-align: center !important;
  }
}
.hero_single.version_2 .opacity-mask h1,
.hero_single.version_2 .opacity-mask h3 {
  color: #fff;
}
.hero_single.version_2 .opacity-mask p {
  color: #fff;
}
.hero_single.version_2 .search_trends {
  color: #fff;
}
.hero_single.version_2 .search_trends h5 {
  color: #fff;
}
.hero_single.version_2 .search_trends ul li a {
  color: #fff;
}
.hero_single.version_2 {
  background-color: #000;
  height: 620px;
}
.hero_single.version_2 .opacity-mask {
  text-align: left;
}
@media (max-width: 991px) {
  .hero_single.version_2 .opacity-mask {
    text-align: center !important;
  }
}
.hero_single.version_2 .opacity-mask h1,
.hero_single.version_2 .opacity-mask h3 {
  color: #fff;
}
.hero_single.version_2 .opacity-mask p {
  color: #fff;
}
.hero_single.version_2 .search_trends {
  color: #fff;
}
.hero_single.version_2 .search_trends h5 {
  color: #fff;
}
.hero_single.version_2 .search_trends ul li a {
  color: #fff;
}

.search_trends {
  color: #555;
}
.search_trends h5 {
  font-size: 14px;
  font-size: 0.875rem;
  display: inline-block;
  color: #555;
}
.search_trends ul {
  list-style: none;
  display: inline-block;
  margin: 15px 0 0 0;
  padding: 0;
}
.search_trends ul li {
  display: inline-block;
}
.search_trends ul li:after {
  content: ", ";
}
.search_trends ul li:last-child:after {
  content: " ";
}
.search_trends ul li a {
  color: #555;
}
.search_trends ul li a:hover {
  color: #444;
  text-decoration: underline;
}

/*-------- 3.5 Misc 2 + Forms --------*/
/* Opacity mask ove images ex.banner in home */
.opacity-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

/* custom search */

.custom-search-input {
  background-color: #fff;
  padding: 5px 5px 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 991px) {
  .custom-search-input {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.custom-search-input input {
  border: 0;
  height: 50px;
  padding: 12px 10px 10px 20px;
  font-weight: 500;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  font-size: 0.9375rem;
}
.custom-search-input input.no_border_r {
  border: none;
}
@media (max-width: 991px) {
  .custom-search-input input {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    height: 60px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  }
}
.custom-search-input input:focus {
  box-shadow: none;
}
@media (max-width: 991px) {
  .custom-search-input input:focus {
    border-right: none;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  }
}
.custom-search-input select {
  display: none;
}
.custom-search-input .form-group {
  margin: 0;
}
@media (max-width: 991px) {
  .custom-search-input .form-group {
    margin-bottom: 5px;
  }
}
.custom-search-input i {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  font-size: 1.125rem;
  position: absolute;
  background-color: #fff;
  line-height: 50px;
  top: 0;
  right: 1px;
  padding-right: 15px;
  display: block;
  width: 20px;
  box-sizing: content-box;
  height: 48px;
  z-index: 9;
  color: #999;
}
@media (max-width: 991px) {
  .custom-search-input i {
    padding-right: 10px;
  }
}
.custom-search-input button[type="submit"] {
  padding: 0 25px;
  height: 50px;
  width: 100%;
  margin-right: -1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .custom-search-input button[type="submit"] {
    margin: 15px 0 0 0;
  }
}
